<div class="card">
    <div class="card-header">
        Edit
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <label for="inputName" class="form-label">Name</label>
                <input type="text" value={{this.subscriber.name}} id="inputName" class="form-control"
                    aria-describedby="text">
            </div>
            <div class="col-3">
                <label for="inputData" class="form-label">Registered date</label>
                <input type="text" value={{this.subscriber.date}} id="inputdata" class="form-control"
                    aria-describedby="text">
            </div>
            <div class="col-3">
                <label for="inputPayment" class="form-label">Payment</label>
                <input type="text" value={{this.subscriber.payment}} id="</div>" class="form-control"
                    aria-describedby="text">
            </div>
            <div class="col-3">
                <label for="status" class="status-label">Status</label>

                <div>
                    <XToggle class="float-left" @theme='ios' @value={{this.subscriber.status}} @onToggle={{fn (mut
                        this.subscriber.status)}} />
                </div>
            </div>
        </div>


    </div>
    <div class="card-footer">
        <button {{on 'click' this.save}} class="btn btn-primary">Save</button>
    </div>
</div>