{{page-title "Payments"}}
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Payments</h1>
  </div>

  <div class="row">
    <div class="col-8">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Subscriber name</th>
            <th scope="col">Created date</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.rows as |row|}}
            <LinkTo @tagName="tr" @route="main.payments.edit" @model={{row}}>
              <th scope="row">{{row.subscriber.name}}</th>
              <td>{{moment-format row.date 'MM.DD.YYYY'}}</td>
              <td>
                <span class="{{if row.status " bg-primary" "bg-danger" }} badge text-white">
                  {{if row.status "success" "cancelled"}}
                </span>
              </td>
            </LinkTo>
          {{/each}}
        </tbody>

      </table>
    </div>
    <div class="col-4">
      {{outlet}}
    </div>


  </div>

</div>
<!-- /.container-fluid -->