{{#if @route}}
    <LinkTo @tagName="tr" @route={{@route}} @model={{@row}}>
            <th scope="row">{{@row.name}}</th>
            <td>{{moment-format @row.date 'MM.DD.YYYY'}}</td>
            {{#if @showPayment}}
                <td>{{@row.payment}}</td>
            {{/if}}
                <td><span class="{{if @row.status " bg-primary" "bg-danger" }} badge text-white">{{if @row.status "success"
                    "cancelled"}}</span></td>
            {{#if @isEditable}}
                <td>
                    <LinkTo @route='main.subscribers.edit' @model={{@row}} class="btn btn-outline-primary">Edit</LinkTo>
                </td>
            {{/if}} 
    </LinkTo>
{{else}}
    <tr>
        <th scope="row">{{@row.name}}</th>
        <td>{{moment-format @row.date 'MM.DD.YYYY'}}</td>
        {{#if @showPayment}}
            <td>{{this.totalPayments}}</td>
        {{/if}}
            <td><span class="{{if @row.status " bg-primary" "bg-danger" }} badge text-white">{{if @row.status "success"
                "cancelled"}}</span></td>
        {{#if @isEditable}}
            <td>
                <LinkTo @route='main.subscribers.edit' @model={{@row}} class="btn btn-outline-primary">Edit</LinkTo>
            </td>
        {{/if}}
    </tr>
{{/if}} 


